{% extends 'general/base.html' %}

{% load static %}

{% block link %}<link rel="stylesheet" href="{% static 'general/css/registerOrEnter.css' %}">{% endblock %}

{% block title %}Вход{% endblock %}

{% block name_page %}ITLORE{% endblock %}

{% block main %}
    <div class="back"></div>
    <div class="registration-form">
        <aside>
            <img src="{% static 'general/img/ItLoreLogoYellow.png' %}">
            <h1>ITLORE</h1>
            <p>Вход</p>
        </aside>
        <form>
            {% csrf_token %}
            <div class="input-section number-section">
                <script src="js/jquery.maskedinput.min.js"></script>
                {{ form.number }}
                <script>
                    $(".number").mask("+7(999)999-99-99");
                </script>
                <!-- fa fa-envelope-o"-->
                <div class="animated-button">
                    <span class="icon-paper-plane">
                        <i class="fas fa-phone"></i>
                    </span>
                    <span class="next-button number">
                        <i class="fa fa-arrow-up"></i>
                    </span>
                </div>
            </div>
            <div class="input-section password-section folded">
                {{ form.password }}

                <div class="animated-button">
                    <span class="icon-lock">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span class="next-button password">
                        <i class="fa fa-arrow-up"></i>
                    </span>
                </div>
            </div>
            <div class="input-section confirm-password-section folded">
                {{ form.confirm_password }}
                <div class="animated-button">
                    <span class="icon-confirm-lock">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span class="next-button confirm-password">
                        <i class="fa fa-arrow-up"></i>
                    </span>
                </div>
            </div>
            <div class="success">
                <p>WELCOME</p>
            </div>
        </form>
    </div>
<script src="{% static 'general/js/codeEnter.js' %}">
</script>
{% endblock %}